<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Verk Dashboard</title>
    <link rel="stylesheet" href="<%= mount_static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div id="header_logo"><img src="<%= mount_static_path(@conn, "/images/vamp_header.png") %>"></div>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <%= menu_item(@conn, page_path(@conn, :index), "Home") %>
            <%= menu_item(@conn, retries_path(@conn, :index), retries_count) %>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <%= render @view_module, @view_template, assigns %>
    </div>

    <script> MOUNT_PATH = "<%= @conn.assigns[:mount_path] %>"</script>
    <script src="<%= mount_static_path(@conn, "/js/app.js") %>"></script>
    <footer class="footer navbar-default">
      <div class="container">
        <h4>All-time stats</h4>
        <p class="text-muted"> <%= total_stats %> </p>
      </div>
    </footer>
  </body>
</html>
