/* Original: view-source:http://getbootstrap.com/examples/sticky-footer-navbar/sticky-footer-navbar.css */
/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  /* height: 60px; */
}

.container .text-muted {
  margin: 10px 0;
}

.footer h4 {
  margin: 20px 0 0 0;
  padding: 0;
}
